name: Docker:LoongCollector
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/LoongCollector/**
      - .github/workflows/LoongCollector.yml
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Setup
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_KEY }}

      - name: Docker Build And Push
        uses: docker/build-push-action@v5
        with:
          context: .github/workflows/LoongCollector
          push: true
          tags:
            tianxiadys/loongcollector:0.1.0-1,
            tianxiadys/loongcollector:0.1.0,
            tianxiadys/loongcollector:latest
