name: Docker RatHole
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/rathole.yml
      - .github/workflows/rathole/**
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Setup
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_KEY }}

      - name: Docker Build And Push
        uses: docker/build-push-action@v5
        with:
          context: .github/workflows/rathole
          push: true
          tags: tianxiadys/rathole:0.5.0,tianxiadys/rathole:latest
