name: Docker ShadowSocks
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ShadowSocks/**
      - .github/workflows/ShadowSocks.yml
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Setup
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_KEY }}

      - name: Docker Build And Push
        uses: docker/build-push-action@v5
        with:
          context: .github/workflows/ShadowSocks
          push: true
          tags:
            tianxiadys/shadowsocks:1.23.5-1,
            tianxiadys/shadowsocks:1.23.5,
            tianxiadys/shadowsocks:latest
